.header {
    height: 54px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.header-box {
    width: 945px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main-img img {
    width: 130px;
    height: 54px;
}
input {
    border: solid 1px #D2D2D2;
    text-align: center;
}

input[type="text"], textarea {
    background-color: #fafafa;
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.header-right div {
    margin: 10px;
}

.header-right a {
    color: black;
}